@use "../abstracts/" as *;

@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Kumbh Sans"), local("Kumbh Sans Regular"),
    url("../../assets/fonts/KumbhSans-Regular.woff2") format("woff2"),
    url("../../assets/fonts/KumbhSans-Regular.woff") format("woff"),
    url("../../assets/fonts/KumbhSans-Regular.ttf") format("truetype")
      url("../../assets/fonts/KumbhSans-Regular.eot");
}

@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Kumbh Sans"), local("Kumbh Sans Bold"),
    url("../../assets/fonts/KumbhSans-Bold.woff2") format("woff2"),
    url("../../assets/fonts/KumbhSans-Bold.woff") format("woff"),
    url("../../assets/fonts/KumbhSans-Bold.ttf") format("truetype")
      url("../../assets/fonts/KumbhSans-Bold.eot");
}
