@use "../abstracts/" as *;

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;
  overflow-x: hidden;
}

.navigation__list li a {
  color: $link-color;
}

.navigation__list li a:is(:hover, :focus-visible) {
  color: $link-color-hover;
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;

  padding: 0;

  cursor: pointer;
}
