@use "./typography" as *;
@use "./colors" as *;
@use "./sizes" as *;
@use "./functions" as *;

// ==========================
//     Contextual Content
// ==========================
// Colors
$color-text-default: $color-black;
$color-background-default: $color-white;
$color-text-link-default: $color-dark-grayish-blue;
$color-text-link-hover: $color-dark-blue;

// Line-height
$line-height-default: 1.5;

// Border Radius
$full-radius: 100vmax;
$border-radius-full: $full-radius;

// Box Shadow
$product-btn-shadow-clr: hsla(26, 100%, 55%, 0.25);
$cart-bg-shadow-clr: hsla(0, 3%, 28%, 0.3);

// ==========================
//         Container
// ==========================
$container-min-margin-inline: size(4);
$container-max-width: rem(1200px);

// ==================
//        Body
// ==================

$body-font-family: $font-family-base;
$body-font-size: rem(16px);
$body-line-height: $line-height-default;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

// Anchor link
$link-color: $color-text-link-default;
$link-color-hover: $color-text-link-hover;
