// Font Family
$-ff-sans: "Kumbh Sans", sans-serif;
$font-family-base: $-ff-sans;

// Font Weight
$-fw-400: 400;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-bold: $-fw-700;

// Font Size
