@use "../abstracts/" as *;

.cart {
  --cart-background-shadow: hsla(0, 3%, 28%, 0.3);
  --cart-top: #{rem(70px)};
  --cart-left: 50%;

  display: none;

  position: absolute;
  top: var(--cart-top);
  left: var(--cart-left);
  transform: translateX(-50%);
  z-index: 1000;

  width: min(100%, rem(350px));
  height: 100%;
  min-height: rem(230px);

  border-radius: rem(10px);
  background-color: var(--clr-light-100);
  box-shadow: 0 size(4) size(9) var(--cart-background-shadow);

  @include mq(large) {
    --cart-top: #{rem(90px)};
    --cart-left: 86%;
  }

  &.active {
    display: block;
  }

  &__header {
    border-bottom: rem(1px) solid var(--clr-light-200);

    padding: rem(22px);

    & .cart__title {
      font-size: rem(15px);
      font-weight: $font-weight-bold;
    }
  }

  &__main {
    @include x-grid-center;

    width: 100%;
    height: calc(100% - rem(62px));

    padding: rem(22px);

    & section {
      width: 100%;
    }

    & .cart__empty {
      font-size: rem(15px);
      font-weight: $font-weight-bold;
      color: var(--clr-dark-200);
    }

    & .cart__content {
      @include x-flex-between;

      margin-block-end: rem(20px);

      & > * {
        color: var(--clr-light-400);
      }

      & .cart__content__text--price span {
        font-weight: $font-weight-bold;
        color: var(--clr-dark-300);
        margin-inline-start: rem(6px);
      }

      & .cart__img {
        --cart-img-width: #{rem(50px)};

        width: var(--cart-img-width);
        height: var(--cart-img-width);

        border-radius: rem(5px);

        overflow: hidden;
      }
    }
  }
}
