@use "../abstracts" as *;

.lightbox-modal-container {
  display: none;

  @include mq(large) {
    --lightbox-full-size: 100%;

    position: absolute;
    inset: 0;
    z-index: 100000;

    width: var(--lightbox-full-size);
    height: var(--lightbox-full-size);

    @include x-grid-center;

    background-color: var(--clr-dark-100);

    overflow: hidden;
  }
}

.lightbox-flex {
  position: relative;
  width: min(100%, rem(500px));
}

.lightbox-modal {
  position: relative;
  margin-block-end: rem(30px);

  & img {
    border-radius: rem(12px);
  }

  &__btn-container {
    position: absolute;
    top: 50%;
    left: rem(-28px);
    transform: translateY(-50%);

    width: 110%;

    @include x-flex-between;
  }
}

.lightbox-modal--close {
  position: absolute;
  top: rem(-60px);
  right: rem(-20px);

  padding: rem(20px);

  &:is(:hover, :focus-visible) svg path {
    fill: var(--clr-orange-200);
  }

  & svg path {
    fill: var(--clr-light-100);
  }
}

.lightbox-modal--indicators {
  @include x-flex-between;
  gap: size(4);

  padding-inline: rem(30px);

  & button {
    position: relative;
    width: rem(90px);

    & img {
      border-radius: rem(12px);
    }

    & .lightbox--selected-ring-indicator {
      position: absolute;
      inset: 0;
      width: var(--lightbox-full-size);
      height: var(--lightbox-full-size);

      border-radius: rem(12px);
      border: rem(2px) solid var(--clr-orange-200);
    }
  }
}
