@use "../abstracts/" as *;

.navigation {
  position: relative;

  @include x-flex-between;
  gap: size(4);

  padding-block: rem(15px);

  &.container {
    --max-width: #{rem(650px)};
  }

  @include mq(large) {
    border-bottom: rem(1px) solid var(--clr-light-200);

    padding-block: rem(26px);
  }
}

.navigation__left {
  @include x-flex-align;

  & div:nth-child(1) {
    @include x-flex-align;
    gap: size(4);
  }

  & .navigation__list {
    display: none;
  }
}

.navigation__right {
  position: relative;

  @include x-flex-align;
  gap: size(3);

  @include mq(large) {
    gap: size(8);
  }

  & .navigation__cart--counter {
    position: absolute;
    left: rem(15px);
    top: rem(-3px);

    @include x-grid-center;

    width: fit-content;

    font-size: rem(8px);
    font-weight: $font-weight-bold;
    color: var(--clr-light-100);

    background-color: var(--clr-orange-200);
    border-radius: $full-radius;

    padding: rem(3px) rem(8px);

    @include mq(large) {
      top: rem(4px);
    }
  }

  &__avatar {
    --avatar-size: #{rem(33px)};
    --avatar-border-color: transparent;

    width: var(--avatar-size);
    height: var(--avatar-size);

    border-radius: $border-radius-full;
    border: rem(2px) solid var(--avatar-border-color);

    transition: border 250ms ease-in-out;

    &:is(:hover, :focus-visible) {
      --avatar-border-color: var(--clr-orange-200);
    }

    & img {
      width: 100%;
      height: 100%;

      border-radius: $border-radius-full;

      object-fit: contain;
      aspect-ratio: 1 / 1;
    }

    @include mq(large) {
      --avatar-size: #{rem(48px)};
    }
  }
}

@include mq(large) {
  .navigation.container {
    --max-width: #{$container-max-width};
  }

  .navigation__left {
    gap: size(10);

    & .navigation--hamburger-btn {
      display: none;
    }

    & .navigation__list {
      @include x-flex-align;
      gap: size(6);
    }
  }
}
