@use "../abstracts/" as *;

.products {
  padding-block: size(7);

  & .product__sub-title {
    font-size: rem(12px);
    font-weight: $font-weight-bold;
    color: var(--clr-orange-200);
    text-transform: uppercase;
    letter-spacing: rem(2px);

    margin-block-end: rem(16px);

    @include mq(large) {
      margin-block-end: rem(18px);
    }
  }

  & .product__title {
    font-size: rem(30px);
    margin-block-end: rem(16px);

    @include mq(large) {
      margin-block-end: rem(28px);
    }
  }

  & .product__description {
    color: var(--clr-light-400);
    margin-block-end: rem(20px);

    @include mq(large) {
      margin-block-end: rem(26px);
    }
  }

  & .product__price div {
    @include x-flex-align;
    gap: size(4);

    & .product__price--reduct {
      font-size: rem(25px);
    }

    & .product__price--percent {
      background-color: var(--clr-orange-100);
      border-radius: rem(6px);
      padding: rem(1px) rem(8px);

      & span {
        font-size: rem(15px);
        font-weight: $font-weight-bold;
        color: var(--clr-orange-200);
      }
    }
  }

  & .product__price--full {
    font-size: rem(16px);
    font-weight: $font-weight-bold;
    color: var(--clr-light-300);
    text-decoration: line-through;

    margin-block-end: rem(24px);

    @include mq(large) {
      margin-block-end: rem(28px);
    }
  }

  & .product__price,
  & .product__counter {
    @include x-flex-flex-between;
  }

  & .product__counter {
    background-color: var(--clr-light-200);
    border-radius: rem(10px);

    padding: rem(18px) rem(16px);

    margin-block-end: rem(16px);

    &--count {
      font-weight: $font-weight-bold;
      color: var(--clr-dark-300);
    }
  }
}

@include mq(large) {
  .products {
    width: min(100%, rem(450px));

    & .product__title {
      font-size: rem(40px);
    }

    & .product__price {
      flex-direction: column;
      gap: size(1);
    }

    & .product__counter {
      width: min(100%, rem(230px));
      align-items: center;
      margin: 0;
    }

    & .product__flex {
      @include x-flex-align;
      gap: size(4);
    }

    & .product--btn {
      padding: rem(19px) rem(16px);
    }
  }
}
